.people-big-layout {
    /* position: relative; */
    /* background-color: blue; */
    /* max-width: 1000px; */
    align-content: center;
}

.people-big {
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    background-color: rgb(32, 33, 36);
    opacity: 0.7;
    border-radius: 10px;
}

.people-big-profile {
    /* background-color: red; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
    padding-bottom: 220px;
}

.big-profile-image {
    width: 13%;
    height: auto;
    border-radius: 80px;
    opacity: 0.6;
}

.people-big-hover {
    /* background-color: blue; */
    position: absolute;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.people-big:hover .people-big-hover {
    opacity: 1;
    transition: opacity 0.3s;
}

.hover-big-button:hover {
    opacity: 0.8;
    transition: opacity 0.3s;
}

.hover-big-button {
    opacity: 0.6;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgb(56, 55, 55);

    width:15%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 30px;
}

.big-profile-name {
    display: flex;
    align-items: center;
    padding-left: 8px;
    padding-bottom: 10px;
}

.pin-name-icon {
    width: 22px;
}

.big-name {
    padding-left: 10px;
    color: white;
    font-size: 12px;
}