.mute-button-layout {
    display: flex;
    justify-content: right;
    padding-top: 10px;
    padding-right: 10px;
}

.mute-button {
    background-color: rgb(52,55,58);
    padding: 5px;
    padding-bottom: 2px;
    border-radius: 20px;
}

.mute-image {
    width: 18px;
    height: auto;
}

.profile-image {
    width: 25%;
    height: auto;
    border-radius: 80px;
    opacity: 0.6;
}

button {
    border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.hover-button-icon {
    width: 70%;
}

.button-off {
    /* background-color: yellow; */
    display: block;
    display: none;
}

label.button-label {
    opacity: 0.5;
    /* background-color: yellow; */
    /* display: none; */
}

input[type=checkbox].button-off:checked + label.button-label {
    opacity : 1;
}