.people-small-layout {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    padding-left: 2%;
    padding-right: 2%;
}

.people-small-layout > * {
    flex: 1 1 150px;
    margin: 5px;
}

.people-small {
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    background-color: rgb(60, 64, 67);
    opacity: 0.7;
    border-radius: 10px;
}

.people-small-profile {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 25px;
    /* background-color: red; */
}


.profile-name {
    display: flex;
    justify-content: left;

    font-size: 11px;
    color: white;
    padding-bottom: 10px;
    padding-left: 15px;
}

.people-small-hover {
    /* background-color: blue; */
    position: absolute;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.people-small:hover .people-small-hover {
    opacity: 1;
    transition: opacity 0.3s;
}

.hover-small-button:hover {
    opacity: 0.8;
}


.hover-small-button {
    opacity: 0.6;
    display: flex;
    text-align: center;
    background-color: rgb(56, 55, 55);

    width: 20%;
    min-width: 60px;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 3%;
    border-radius: 30px;
}
