.taskbar {
    /* background-color: green; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
    bottom: 0;
}

.left-section {
    /* background-color: red; */
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.meeting-details {
    font-size: 13px;
    color: white;
    font-weight: 500;
}

.middle-section {
    width: 300px;
    display: flex;
    max-width: 500px;
    align-items: center;
    justify-content: space-around;
}

.mic-off-icon {
    max-height: 100%;
}

.middle-section-icon {
    /* max-height: 100%; */
    height: 20px;
}

.icon-layout {
    display: flex;
    justify-content: center;
    height: 20px;
    background-color: rgb(60, 64, 67);
    padding: 10px;
    border-radius: 50px;
}

.end-call-layout {
    display: flex;
    justify-content: center;
    height: 20px;
    background-color: rgb(255, 59, 48);
    padding: 10px;
    padding-right: 13px;
    padding-left: 13px;
    border-radius: 50px;
}

.middle-button-off {
    display:block;
    display: none;
}

label.middle-icon-label {
    background-color: rgb(60, 64, 67);
    padding: 10px;
    padding-bottom: 7px;
    border-radius: 50px;
}

input[type=checkbox].middle-button-off:checked + label.middle-icon-label {
    background-color: rgb(255, 59, 48);
}

.right-section {
    /* background-color: blue; */
    width: 200px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.right-section-icon {
    /* max-height: 100%; */
    height: 18px;
}
